/* Appeler ici les fonts spécifiques au projet */

@font-face {  }


/*** Gestion des titres Hn ***/

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 500;
}

.h1, h1 {
    font-size: 4rem;
    line-height: 4.4rem;
}

h2, .h2 { 
  font-size:3rem;
  line-height:3.3rem;
}

.texte p,
.texte ul.spip,
.texte ol.spip {
  max-width:none; /* Accessibilité */
}

@media screen and (max-width: 767px){
  .h1, h1 {
      font-size: 3rem;
      line-height: 3.3rem;
  }

  h2, .h2 { 
    font-size:2rem;
    line-height:2.3rem;
  }
}

h3, .h3 {
    font-size: 1.75rem;
}