/**********************************************/
/* GRILLES  ===================================*/

/********************   Mobile First ********************/
/* Rappel : par défaut une grille a un flow en rows */

.d-grid {
  display:grid;
  padding-bottom:1rem;
}

/********************   Tablettes et desktop ********************/
@media screen and (min-width: 991px) {

  .grid__2col{
    grid-template-columns: repeat(2, 1fr);
  }

  .grid__3col{
    grid-template-columns: repeat(3, 1fr);
  }

  .grid__4col{
    grid-template-columns: repeat(4, 1fr);
  }

  .grid__12{
    grid-template-columns: 1fr 2fr;
  }

  .grid__21 {
    grid-template-columns: 2fr 1fr;
  }

  .grid__13{
    grid-template-columns: 1fr 3fr;
  }

  .grid__31{
    grid-template-columns: 3fr 1fr;
  }

  .grid__34{
    grid-template-columns: 3fr 4fr;
  }

  .d-grid,
  .grid__2col,
  .grid__3col,
  .grid__4col,
  .grid__12,
  .grid__21,
  .grid__13,
  .grid__31,
  .grid__34 {
    grid-column-gap: 2rem;
  }
}

/**********************************************/
/* UTILITAIRES  ==============================*/

/* Effet de calque **************/
/* Tous les items sont exactement dans le même aréa. Il vont alors s'empliler dans l'ordre d'apparition dans le DOM */
/* Ex. : image PUIS texte  = le texte apparaîtra au-dessus de l'image */
.d-superpose * {
  grid-area: 1 / 1 / 1 / 1;
}

/* Par defaut une grille a un flow = row */
/* gaf = grid-auto-flow */
.gaf-column {
  grid-auto-flow: column;
}


/* Items centrés horizontalement et verticalement */
.items_center {
  place-items: center;
}

/* Alignement horizontale */
.justify-items--center{ justify-items: center; }

/* Alignement vertical */
.align-self--center { align-self: center; }
.align-self--bottom { align-self: end; }


/* Spéciales */
.grid__liste_logos {
  justify-content: center;
  align-items: center;
}